@using ToDo.Models.Arguments.Item

@{
    ViewBag.Title = "Items";
}
<div class="container">
    <div class="d-block">
        <div class="btn-group">
            <a class="btn btn-primary btn-round" href="/Home/Index">
                <i class="material-icons">home</i> Início
            </a>
            <button class="btn btn-info btn-round" onclick="AddEditItem()">
                <i class="material-icons">add</i>  Adicione novo item
            </button>
            <button class="btn btn-success btn-round" onclick="OpenModalEmail()">
                <i class="material-icons">share</i>  Compartilhar lista
            </button>
        </div>
        <div>
            <h3 class="ml-4 d-inline" id="nomeLista">@ViewBag.NomeLista</h3><h5 class="ml-4 d-inline">Quem criou: <span id="userEmail">@ViewBag.UserEmail</span></h5>
        </div>
    </div>
    <div class="card-block" id="itemSortable">
        @Html.Partial("PartialItems", ViewBag.ListItems as List<ItemResponse>)
    </div>
</div>
@Html.Partial("PartialModalAddEditItem")
@Html.Partial("PartialModalShareEmail")
