@model IEnumerable<ToDo.Models.Item>

@{
    ViewBag.Title = "Home Page";
}

<script>
    $(document).ready(function () {
        $("#itemSortable").sortable({
            placeholder: 'ui-state-highlight',
            dropOnEmpty: true,
            revert: true,
            axis: "x",
            opacity: 0.5,
            cancel: ".disable-item-sorting",
            update: function (event, ui) {
                debugger
                var itemIds = "";
                $("#sortable").find(".parent-card").each(function () {
                    var itemId = $(this).attr("data-item-id");
                    itemIds = itemIds + "," + itemId;
                });
                $.ajax({
                    url: '@Url.Action("Update", "Home")',
                    data: { itemIds: itemIds },
                    type: 'POST',
                    success: function (data) {

                    },
                    error: function (xhr, status, error) {

                    }

                });
            }
        });

        $("div[id^='sortable']").sortable({
            opacity: 0.5,
            revert: true,
            dropOnEmpty: true,
            scroll: true,
            update: function (event, ui) {
                debugger
            },
            stop: function (event, ui) {
                debugger

            },
            receive: function(event, ui) {
                debugger
            },
            connectWith: "div[class*='sortable']"
        });

    });
</script>

<div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/bg7.jpg')">
    <div class="container">
        <div class="card-block" id="itemSortable">
            @foreach (var item in Model)
            {
                <div class="card parent-card" id="item@(item.Id)" data-item-id="@(item.Id)">
                    <div class="card-header card-header-primary parent-card-header">
                        @item.Name
                    </div>
                    <div id="sortable@(item.Id)" class="disable-item-sorting card-body parent-card-body sortable">
                        @{
                            if (item.Children != null)
                            {
                                foreach (var child in item.Children)
                                {
                                    <div class="card sub-card"  id="child@(item.Children + "|" + item.Id)" data-item-id="@(item.Children + "|" + item.Id)">
                                        <div class="card-body">
                                            @child.Name
                                        </div>
                                        <div class=" edit-card">
                                            <a href="#pablo" class="btn btn-success btn-sm btn-just-icon btn-fill btn-round btn-wd">
                                                <i class="material-icons">mode_edit</i>
                                            </a>
                                            <a href="#pablo" class="btn btn-danger btn-sm btn-just-icon btn-fill btn-round">
                                                <i class="material-icons">delete</i>
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                        }


                    </div>
                    <div class="disable-item-sorting card-footer parent-card-footer" style="">
                        <span>+ New sub-item</span>
                    </div>
                </div>
            }
            <div class="card parent-card new-parent-card fixed"  id="item-1" data-item-id="-1">
                <div class="card-header card-header-primary parent-card-header">
                   + New item
                </div>
            </div>
        </div>

    </div>
</div>
